<% if @note %>
  <form action="/<%= @note.id %>" method="post" id="edit" accept-charset="utf-8">
    <input type="hidden" name="_method" value="put" />
    <textarea name="content"><%=h @note.content %></textarea>
    <input type="submit" value="Guardar" />
  </form>
  <p><a href="/<%= @note.id %>/delete">Borrar</a></p>
<% else %>
  <p>Nota no encontrada...</p>
<% end %>
